<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить отдел</title>
</head>
<body>
{% if is_name_invalid == True %}
<span style="color: red;"> Ошибка в названии отдела </span><br>
{% endif %}
<form method="post">
{% csrf_token %}
    <label> Название: <input type="text" name="sphere" value = {{sphere}} > </label><br>
    <label> Описание: <input type="text" name="description" value = {{description}} > </label><br>
    <label> Количество персонала: <input type="number" name="staff_amount" value = {{staff_amount}}> </label><br><br>
<button type="submit">Сохранить</button>
</form>
</body>
</html>